openai
googletrans==4.0.0-rc1
git+https://github.com/libindic/indic-trans.git
streamlit
azure-cognitiveservices-speech
speechrecognition
pyttsx3
gTTS==2.3.1
pydub
ffmpeg
soundfile
streamlit_webrtc
openai-whisper==20230124
streamlit-player==0.1.5
python-dotenv==0.21.1
wavio==0.0.7
scipy==1.9.1
numpy==1.23.3
ipython
streamlit-state
google-cloud-speech
streamlit-chat
bokeh
streamlit_bokeh_events
pyaudio
